<h1>User Badges</h1>

<table class="table table-striped table-hover align-middle">
  <thead>
    <tr>
      <th>User</th>
      <th>Badge</th>
      <th>Awarded At</th>
    </tr>
  </thead>
  <tbody>
    <% @user_badges.each do |ub| %>
      <tr>
        <td><%= ub.user.name %></td>
        <td><%= ub.badge.name %></td>
        <td><%= ub.awarded_at.strftime("%Y-%m-%d") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
