<div class="container mt-5">
  <div class="card shadow-lg border-0 rounded-4">
    <div class="card-header bg-success text-white">
      <h2 class="mb-0">New Badge</h2>
    </div>
    <div class="card-body">
      <%= render "form", badge: @badge %>
    </div>
  </div>
</div>
