<h1><%= @badge.name %></h1>
<p><strong>Description:</strong> <%= @badge.description %></p>
<p><strong>Condition:</strong> <%= @badge.condition %></p>

<%= link_to 'Back to Badges', badges_path, class: "btn btn-secondary" %>
