<h1><%= @progress_entry.new_record? ? "New Progress Entry" : "Edit Progress Entry" %></h1>
<%= render "form", progress_entry: @progress_entry %>
<%= link_to "Back", progress_entries_path, class: "btn btn-secondary mt-3" %>
