<h1><%= @exercise.name %></h1>
<p><strong>Category:</strong> <%= @exercise.category %></p>
<p><strong>Unit:</strong> <%= @exercise.unit %></p>

<%= link_to 'Back to Exercises', exercises_path, class: "btn btn-secondary" %>
